body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}
html,
body {
  min-height: 100% !important;
  height: 100%;
}

#root {
  min-height: 100% !important;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primario {
  background-color: #0a4d68;
}

.btn.primario:hover{
  background-color: #106e93;

}

.secundario {
  background-color: #088395;
}

.btn.secundario:hover{
  background-color: #0ba5bd;

}

.variante1 {
  background-color: #05bfdb;
}

.variante2 {
  background-color: #00ffca;
}

.activeSitio {
  background-color: #0a4d68;
}

.activeSitio p{
  color: white !important;
}

.tipoSitio{
  border: 2px solid #0a4d68;
  border-radius: 15px;
}

.tipoSitio:hover {
  background-color: #0a4d68;
}

.tipoSitio p{
  color: #0a4d68;
}

.tipoSitio:hover p{
  color: white;
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #0a4d68;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #00ffca;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

hr.hr-text {
  position: relative;
  border: none;
  height: 1px;
  background: #999;
}

hr.hr-text::before {
  content: attr(data-content);
  display: inline-block;
  background: #fff;
  font-weight: bold;
  font-size: 0.85rem;
  color: #999;
  border-radius: 30rem;
  padding: 0.2rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sitiosGrid::after {
  content: "";
  flex: auto;
}

.banner
{
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  text-transform: capitalize;
}
.blog-detail-section
{
  margin-top: 40px;
}
.blog-detail-section .card-title
{
  font-weight: 700;
  font-size: 25px;
  text-transform: capitalize;
  color: var(--bs-primary);
}
.blog-detail-section p
{
  font-size: 16px;
  text-align: justify;
}
.sidebar .panel-success .panel-heading
{
  background-color: var(--bs-primary);
  font-size: 20px;
  font-weight: 600;
  color: var(--bs-white);
  padding: 7px 15px;
  border-radius: 7px 7px 0 0;
  margin-bottom: 5px;
}
.sidebar .panel-success
{
   box-shadow:0  15px 15px 5px rgba(0 0 0 / 5%);
   border: 1px solid #eaeaea;
}
.sidebar .panel-success .panel-body
{
  padding: 10px 15px;
}
.sidebar .panel-success .panel-body ul
{
  padding-left: 18px;
  list-style: square;
}
.sidebar .panel-success .panel-body ul li
{
   font-size: 15px;
   border-bottom: 1px solid #eaeaea;
   padding: 5px 5px;
   line-height: 22px;
   padding-left: 0;
}
.sidebar .panel-success .panel-body ul li:last-child
{
  border-bottom: 0px solid transparent;
}



footer
{
   background-color: #333;
   padding: 70px 0;
   color: #fff;
   text-align: center;
   font-size: 16px;
   font-weight: 500;
}

.sidebar
{
   position: sticky;
   top: 30px;
}

.card-white  .card-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
   border: 1px solid #dddddd;
}
.card-white  .card-footer {
  background-color: #fff;
  border-color: #ddd;
}
.card-white .h5 {
    font-size:14px;
}
.card-white .time {
    font-size:12px;
}
.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

.bntAccion{
  background-color: white;

  border-radius: 50px;
  padding: 8px;
}

.bntAccion:hover{
  background-color: rgb(208, 208, 208);
}

.thumbs-wrapper.axis-vertical{
  margin-top: 0px;
  margin-bottom: 0px;
}

/* boton recomendaciones */
.codepen-button {
  display: block;
  cursor: pointer;
  color: white;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  border-radius: 15px;
  overflow: hidden;
  padding: 3px;
  isolation: isolate;
  width: 100%;
  height: 50px;
}

.codepen-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(138deg, rgb(32, 201, 255) 36.7%, rgb(0, 8, 187) 84.4%, rgb(255, 255, 255) 119.7%);
  background-size: 25% 100%;
  animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop .75s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 0.25s ease-out;
}

.codepen-button:hover::before {
  animation-play-state: running;
  transition-duration: 0.75s;
  translate: 0% 0%;
}

@keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
  to {
    transform: translateX(-25%);
  }
}

.codepen-button span.texto {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  background: white;
  border-radius: 15px;
  height: 100%;
}